# Default ignored files
/shelf/
/workspace.xml
# Compiled files
target/

# IntelliJ IDEA
.idea/
*.iml

# Maven wrapper (optional)
.mvn/

# Logs
*.log

spring-boot-rest/src/main/resources/application.properties
**/application.properties

application.yml
.env

# OS-specific files
.DS_Store
Thumbs.db
