# Default ignored files
/shelf/
/workspace.xml
# Compiled files
target/

# IntelliJ IDEA
.idea/
*.iml

# Maven wrapper (optional)
.mvn/

# Logs
*.log

src/main/resources/application.properties

# Sensitive config files
application.properties
application.yml
.env

# OS-specific files
.DS_Store
Thumbs.db
